.full-screen-html {
    width: 98%;
    height: 98%;
}

.full-screen {
    width: 100%;
    height: 100%;
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.view-image {
    display: block;
}
