<!doctype html>

<html class="full-screen-html">
    <head>
        <title>Infoscreen</title>

        <link rel="stylesheet" href="/static/stylesheets/view.css">

        {% if automatic_reload %}
            <script type="text/javascript" src="/static/javascript/reload.js"></script>
        {% endif %}
    </head>

    <body class="full-screen">
        <div class="centered-container">
            <img src="/static/images/chilicorn.png" class="view-image" />
        </div>
    </body>
</html>
