<!doctype html>

<html>
    <head>
        <title>Infoscreen</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Aukioloajat</h1>
            </header>
            
            <section>
                <h2>Maanantai</h2>

                <p> 12 - 20

                <h2>Tiistai</h2>

                <p> 14 - 22
                  
            </section>
        </div>
    </body>
</html>
