<!doctype html>

<html class="full-screen-html">
    <head>
        <title>Infoscreen</title>

        <link rel="stylesheet" href="/static/stylesheets/view.css">

        <script type="text/javascript" src="/static/javascript/reload.js"></script>
        <script type="text/javascript">
            var wait_time = {{ reload_wait_time | default(0) }};
            if (wait_time > 0) {
                window.onload = wait_and_reload(wait_time);
            }
        </script>
    </head>

    <body class="full-screen">
        <iframe src="http://yle.fi/uutiset" class="full-screen" />
    </body>
</html>
