<!doctype html>

<html>
    <head>
        <title>My friend</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>{{name}}</h1>
            </header>
            
            <section>
                <h1>Friend information</h1>

                <p> Edit the <code>my_friend_dynamic</code> function in flask_app.py and friendpage2.html to change the content of this page.

                <h2>Age</h2>
                <p> {{age}}

                <h2>Hair color</h2>
                <p> {{hair_color}}

                <H2>Hobbies</h2>
                <p> {{hobbies}}
            </section>
        </div>
    </body>
</html>
