<!doctype html>

<html>
    <head>
        <title>My friend</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Put your friend's name here</h1>
            </header>
            
            <section>
                <h1>Friend information</h1>

                <p> Edit friendpage.html to fill in this page.

                <h2>Age</h2>
                <p> Add age here

                <h2>Hair color</h2>
                <p> hair color

                <H2>Hobbies</h2>
                <p> hobbies

                <h2>Add more descriptions here...</h2>

                <p> Use the <code>&lt;img&gt;</code> tag if you want
                  to include an image.
                  
            </section>
        </div>
    </body>
</html>
