<!doctype html>

<html>
    <head>
        <title>Koodikoulu</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Ohjelmointiharjoituksia</h1>
            </header>
            
            <section>
                <ul>
                    <li> <a href="/sessions/1">Ensimmäisen kerran tehtävät</a>
                    <li> <a href="/sessions/2">Toisen kerran tehtävät</a>
                </ul>
            </section>
        </div>
    </body>
</html>
