<!doctype html>

<html>
    <head>
        <title>Infoscreen page</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Change this title</h1>
            </header>
            
            <section>
                <h1>First task</h1>

                <p> Change this text and the title in mainpage.html
                  file. Then reload this page to see your changes.
            </section>
        </div>
    </body>
</html>
