<!doctype html>

<html>
    <head>
        <title>Programming exercises</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Exercises</h1>
            </header>
            
            <section>
              <ul>
                <li> <a href="/friend">Exercise 1: Create a friend page</a>
                <li> <a href="/friend/put_friends_name_here">Exercise 2: Pages for multiple friends</a>
              </ul>
            </section>
        </div>
    </body>
</html>
