<!doctype html>

<html>
    <head>
        <title>Kuukaudet</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Kuukaudet</h1>
            </header>
            
            <section>
                <p> Monesko kuukausi on valittu: {{ n }}

                <p> Valittu kuukausi: {{ month }}

                <p> Kuukaudet ennen valittua: {{ before }}

                <p> Kuukaudet valitun jälkeen: {{ after }}
            </section>
        </div>
    </body>
</html>
