<!doctype html>

<html>
    <head>
        <title>Programming exercises</title>

        <link rel="stylesheet" href="/static/stylesheets/modernist/styles.css">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <h1>Harjoitustehtävät</h1>
            </header>
            
            <section>
              <ul>
                <li> <a href="/static/session2/content.html">Tehtävä 1: Luo inforuudulla näytettäviä sivuja</a>
                <li> <a href="/static/session2/arrays.html">Tehtävä 2: TODO array exercise</a>
                <li> <a href="/static/session2/contentfromfile.html">Tehtävä 3: Lue sivun sisältö tiedostosta</a>
                <li> <a href="/static/session2/random.html">Tehtävä 4: Satunnaisen sivun lataaminen</a>
                <li> <a href="/static/session2/reload.html">Tehtävä 5: Automaattisesti vaihtuva sivu</a>
              </ul>
            </section>
        </div>
    </body>
</html>
